@media screen and (min-width: 768px) {
  #side-bar {
    width: 200px;
  }

  #fixed-header {
    width: calc(100vw - 200px);
  }

  .display-wrapper {
    padding-left: 200px;
  }

  .card {
    margin: 5px;
    width: 120px;
    text-align: center;
  }

  .card-cover {
    height: 120px;
    width: 120px;
  }
}
