/***** SMALL 576px  *****/

@media screen and (min-width: 576px) {
  /* DISPLAY UTILITIES  */
  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-blk {
    display: inline-block;
  }

  .d-sm-blk {
    display: inline-block;
  }

  /* ********************* */

  #side-bar {
    flex-basis: 200px;
    flex-shrink: 0;
    overflow: hidden;
  }

  #fixed-header {
    width: calc(100% - 200px);
  }

  /***** Side-bar  *****/

  /* Icons */
  .top-sidebar #logo-small {
    display: none;
    position: absolute;
  }

  .top-sidebar #logo-large {
    display: inline-block;
    position: static;
  }

  #logo-large .logo-spotify {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }

  #side-bar ul li {
    text-align: left;
  }

  span.nav-text {
    display: inline-block;
  }

  #add-playlist {
    margin: 40px 0 0 10px;
  }

  .top-sidebar ul#playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 490px);
    overflow-y: auto;
  }

  ul#playlist li {
    flex-basis: 20px;
  }
}

/***** MEDIUM 768px  *****/
@media screen and (min-width: 768px) {
  /* Cards  */
  .gallery .card {
    flex-basis: 25%;
  }

  /* Player  */
  .play button {
    padding: 0 5px;
  }

  .line-prog-bar {
    flex-basis: 160px;
    flex-shrink: 0;
    background-color: grey;
  }

  /* Controls  */
  #controls .vol-bar {
    width: 90px;
  }
}

/***** LARGE 992px *****/
@media screen and (min-width: 992px) {
  /* Cards  */
  .gallery .card {
    flex-basis: 15%;
  }
  /* Player  */
  .line-prog-bar {
    flex-basis: 300px;
    flex-shrink: 0;
    background-color: grey;
  }

  /* Controls  */
  #controls .vol-bar {
    width: 110px;
  }
}
