/***** SMALL 576px  *****/

@media screen and (min-width: 576px) {
  #side-bar {
    flex-basis: 200px;
    flex-shrink: 0;
    overflow: hidden;
  }

  #fixed-header {
    width: calc(100% - 200px);
  }

  /***** Cards Section  *****/
  .card {
    max-width: 160px;
  }

  .card-cover {
    max-height: 160px;
    max-width: 160px;
  }

  /***** Side-bar  *****/

  /* Icons */
  .top-sidebar #logo-small {
    display: none;
    position: absolute;
  }

  .top-sidebar #logo-large {
    display: inline-block;
    position: static;
  }

  #logo-large .logo-spotify {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }

  #side-bar ul li {
    text-align: left;
  }

  span.nav-text {
    display: inline-block;
    position: static;
  }

  .top-sidebar #playlist {
    display: inline-block;
    position: static;
  }
}

/***** MEDIUM 768px  *****/
@media screen and (min-width: 768px) {
  /* Cards  */
  .card {
    max-width: 160px;
  }

  .card-cover {
    max-height: 160px;
    max-width: 160px;
  }
  /* Player  */
  .play button {
    padding: 0 5px;
  }

  .line-prog-bar {
    flex-basis: 150px;
    flex-shrink: 0;
    background-color: grey;
  }
}

/***** LARGE 992px *****/
@media screen and (min-width: 992px) {
  .card {
    max-width: 200px;
  }

  .card-cover {
    max-height: 200px;
    max-width: 200px;
  }
}
