@media screen and (min-width: 576px) {
  #side-bar {
    width: 200px;
  }

  #fixed-header {
    width: calc(100vw - 200px);
  }

  .display-wrapper {
    padding-left: 200px;
  }

  /***** Cards Section  *****/
  .card {
    width: 165px;
  }

  .card-cover {
    height: 165px;
    width: 165px;
  }

  /***** Side-bar  *****/

  /* Icons */
  .top-sidebar #logo-small {
    display: none;
    position: absolute;
  }

  .top-sidebar #logo-large {
    display: inline-block;
    position: static;
  }

  #logo-large .logo-spotify {
    width: 150px;
    height: auto;
  }
}
