@media screen and (min-width: 576px) {
  #side-bar {
    width: 200px;
  }

  #fixed-header {
    width: calc(100vw - 200px);
  }

  .display-wrapper {
    padding-left: 200px;
  }
  /* 
  .card {
    margin: 5px;
    width: 110px;
    text-align: center;
  }

  .card-cover {
    height: 110px;
    width: 110px;
  } */
}
