@media screen and (min-width: 576px) {
  #side-bar {
    flex-basis: 200px;
    flex-shrink: 0;
  }

  #fixed-header {
    width: calc(100% - 200px);
  }

  /***** Cards Section  *****/
  .card {
    width: 165px;
  }

  .card-cover {
    height: 165px;
    width: 165px;
  }

  /***** Side-bar  *****/

  /* Icons */
  .top-sidebar #logo-small {
    display: none;
    position: absolute;
  }

  .top-sidebar #logo-large {
    display: inline-block;
    position: static;
  }

  #logo-large .logo-spotify {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }

  #side-bar ul li {
    text-align: left;
  }

  span.nav-text {
    display: inline-block;
    position: static;
  }

  .top-sidebar #playlist {
    display: inline-block;
    position: static;
  }
}
