/* GENERICS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 80px;
}

.display-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/******** SIDE BAR - NAV ********/

#side-bar {
  flex-basis: 100%;
  flex-shrink: 0;
  width: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Nav - Generics rules  */
#side-bar nav {
  width: 100%;
}

#side-bar ul {
  list-style-type: none;
}

#side-bar ul li {
  text-align: center;
}

#side-bar a {
  color: grey;
  text-decoration: none;
  display: inline-block;
}

/* TOP-Sidebar  */

.top-sidebar a {
  padding: 10px;
}

#side-bar a svg.nav-btn {
  width: 30px;
  height: auto;
}

/* BOTTOM-Sidebar  */

.bottom-sidebar {
  width: 100%;
  background-color: rgb(76, 0, 255);
}

a.download-btn {
  padding: 0;
  height: 20px;
  width: 20px;
  position: relative;
}

a svg.download {
  height: auto;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.prof-btn {
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

a svg.profile {
  height: 25px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** RIGHT SIDE WRAPPER  ********/

.rightside-wrapper {
  flex-basis: 100%;
  flex-shrink: 0;
  width: calc(100% - 50px);
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
}

/*** HEADER  ***/

header {
  flex-basis: 100px;
  flex-shrink: 0;
  width: 100%;
}

#top-header {
  height: 60%;
  background-color: darkgreen;
}

#bottom-header {
  height: 40%;
  background-color: darkkhaki;
}

/*** MAIN  ***/

main {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(20, 25, 34);
  overflow-y: auto;
}

/*** FOOTER  ***/

#media-player {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100vw;
  background-color: aquamarine;
}
