/* GENERICS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.display-wrapper {
  height: calc(100vh - 70px);
  display: flex;
}

.b700 {
  font-weight: 700;
}

/* ---------------------------------- */

/* Scrollbar Custimize  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27);
}

/* -------------------------------- */

/* Utils  */

.d-xs-none {
  display: none;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

/******** SIDE BAR - NAV ********/

#side-bar {
  height: calc(100vh - 70px);
  flex-basis: 50px;
  flex-shrink: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#side-bar ul li a:hover,
#side-bar ul li:hover a > * {
  color: white;
}

#side-bar .hover-bright:hover .nav-btn {
  filter: brightness(200%);
}

/* NAV - Generics rules  */

#side-bar nav {
  width: 100%;
}

#side-bar ul {
  list-style-type: none;
  margin-top: 10px;
  line-height: 40px;
}

#side-bar ul li {
  text-align: center;
  padding: 0 10px;
}

#side-bar a {
  color: grey;
  text-decoration: none;
  display: inline-block;
}

/* TOP-Sidebar  */

.top-sidebar a svg.nav-btn {
  width: 30px;
  height: auto;
  padding: 0;
  vertical-align: baseline;
  margin-bottom: -3.5px;
}

span.nav-text {
  display: none;
  vertical-align: baseline;
  font-weight: 700;
}

.top-sidebar #logo-large {
  display: none;
}

/* Playlist List  */

.top-sidebar #playlist {
  margin-top: 0;
  font-weight: 700;
  display: none;
}

button.add-btn {
  height: 30px;
  width: 30px;
  background-color: grey;
  border: none;
  margin: 10px 5px 10px 0;
  cursor: pointer;
}

/* BOTTOM-Sidebar  */

.bottom-sidebar {
  padding-bottom: 5px;
}

#download-btn {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  line-height: 30px;
}

.bottom-sidebar svg.download {
  width: 20px;
  vertical-align: middle;
}

li#profile {
  line-height: 30px;
}

span.user-name {
  vertical-align: bottom;
  padding-left: 5px;
}

.bottom-sidebar .prof-btn {
  vertical-align: middle;
  margin-top: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

.bottom-sidebar .prof-svg {
  height: 25px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** RIGHT SIDE WRAPPER  ********/

.rightside-wrapper {
  height: calc(100vh - 70px);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 25, 34);
  overflow-y: auto;
}

/*** HEADER  ***/

/* Top Header  */

#fixed-header {
  position: fixed;
  top: 0;
  background-color: rgba(20, 25, 34, 0.6);
  height: 70px;
  width: calc(100% - 50px);
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button.pill {
  display: block;
  height: 35px;
  width: 190px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

/* Bottom Header  */

#main-header {
  flex-basis: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-right: 5px;
}

nav.item-genre ul {
  text-align: center;
  width: 100%;
  list-style-type: none;
  font-size: 14px;
}

nav.item-genre ul li {
  display: inline-block;
  margin: 10px 0 20px 0;
}

nav.item-genre li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  display: inline;
  padding: 10px 10px;
}

/*** MAIN  ***/

main {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(20, 25, 34);
  padding: 10px;
  color: white;
}

/* Cards Sections  */

#main-fullpage section {
  margin: 50px 0;
}

section .title-cards-sec {
  width: 100%;
  margin: 10px;
}

section h2 {
  margin-bottom: 10px;
}

section .subtitle {
  color: grey;
  font-weight: 700;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.gallery .card {
  flex-basis: 50%;
  padding: 10px;
}

.card-title {
  margin: 5px auto;
}

.card-subtitle {
  color: grey;
  font-weight: 700;
  margin: 5px auto;
}

#popular-artists img {
  border-radius: 50%;
}

/*** FOOTER  ***/

#media-player {
  position: fixed;
  height: 70px;
  width: 100vw;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

#media-player button {
  cursor: pointer;
}

/*ON-AIR  */

#on-air {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img.onair-cover {
  height: 50px;
  width: 50px;
}

#on-air .subtitle {
  font-size: 10px;
  color: grey;
  font-weight: 700;
}

#media-player button {
  background-color: transparent;
  border: none;
  color: white;
}

#on-air .like-save button {
  font-size: 1.5em;
  color: grey;
}

/* PLAYER  */

#player {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play button {
  font-size: 20px;
}

/* Progress bar  */
.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reproducted,
.track-length {
  flex-grow: 1;
  font-size: 10px;
  font-weight: 700;
  color: white;
}

.line-prog-bar {
  display: inline-block;
  height: 3px;
  border-radius: 1.5px;
  margin: 0 5px;
  flex-basis: 100px;
  flex-shrink: 0;
  background-color: grey;
}

/* CONTROLS  */

#controls {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls-btn button {
  margin: 2px;
}

#controls .vol-bar {
  height: 3px;
  width: 60px;
  border-radius: 1.5px;
  background-color: grey;
  margin: 0 5px;
}
