/* GENERICS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.display-wrapper {
  height: calc(100vh - 70px);
  display: flex;
}

.white {
  color: white;
}

/******** SIDE BAR - NAV ********/

#side-bar {
  height: calc(100vh - 70px);
  flex-basis: 50px;
  flex-shrink: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAV - Generics rules  */

#side-bar nav {
  width: 100%;
  line-height: 40px;
}

#side-bar ul {
  list-style-type: none;
  margin-top: 10px;
}

#side-bar ul li {
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
}

#side-bar a {
  color: grey;
  text-decoration: none;
  display: inline-block;
}

/* TOP-Sidebar  */

.top-sidebar a svg.nav-btn {
  width: 30px;
  height: auto;
  padding: 0;
  vertical-align: baseline;
  margin-bottom: -3.5px;
}

span.nav-text {
  display: none;
  vertical-align: baseline;
  font-weight: 700;
}

.top-sidebar #logo-large {
  display: none;
}

/* Playlist List  */

.top-sidebar #playlist {
  margin-top: 10px;
  font-weight: 700;
  display: none;
}

button.add-btn {
  height: 30px;
  width: 30px;
  background-color: grey;
  border: none;
  margin: 10px 5px 10px 0;
  cursor: pointer;
}

/* BOTTOM-Sidebar  */

.bottom-sidebar {
  width: 100%;
  padding-bottom: 5px;
}

.bottom-sidebar a.download-btn {
  padding: 0;
  height: 20px;
  width: 20px;
  position: relative;
}

.bottom-sidebar a svg.download {
  height: auto;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-sidebar a.prof-btn {
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

.bottom-sidebar a svg.profile {
  height: 25px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** RIGHT SIDE WRAPPER  ********/

.rightside-wrapper {
  height: calc(100vh - 70px);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 25, 34);
  overflow-y: auto;
}

/*** HEADER  ***/

/* Top Header  */

#fixed-header {
  position: fixed;
  top: 0;
  background-color: rgba(20, 25, 34, 0.6);
  height: 70px;
  width: calc(100% - 50px);
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button.pill {
  display: block;
  height: 35px;
  width: 190px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

/* Bottom Header  */

#main-header {
  flex-basis: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-right: 5px;
}

nav.item-genre ul {
  text-align: center;
  width: 100%;
  list-style-type: none;
}

nav.item-genre ul li {
  display: inline-block;
  margin: 10px 0 20px 0;
}

nav.item-genre li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  display: inline;
  padding: 10px 10px;
}

/*** MAIN  ***/

main {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(20, 25, 34);
  padding: 10px;
  color: white;
}

main h2 {
  margin: 0 5px;
  width: 100%;
}

/* Cards Section  */

.cards {
  margin: 20px 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  margin: 5px;
  width: 45%;
  text-align: center;
}

.card-cover {
  width: 100%;
  height: auto;
}

.card-title {
  margin: 5px auto;
}

.card-subtitle {
  color: grey;
  font-weight: 700;
  margin: 5px auto;
}

/*** FOOTER  ***/

#media-player {
  height: 70px;
  width: 100vw;
  background-color: #282828;
}
